.loadScreen {
  background-image: url(/images/Flighty.gif);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 5em;
  max-height: max-content;
  border-radius: 20%;
  color: rgb(6, 7, 7);
  font-size: large;
  padding: 3em;
  animation: pulse 2s linear infinite;
  font-family: "Karla", Verdana, Geneva, Tahoma, sans-serif;
}

@keyframes pulse {
  0% {
    transform: scale(100%);
    opacity: 80%;
  }
  50% {
    transform: scale(60%);
    opacity: 30%;
  }
  100% {
    transform: scale(100%);
    opacity: 80%;
  }
}
